.home-root {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.home-button {
    width: 100px;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(58, 127, 255);
    border-right-color: rgb(58, 127, 255);
    border-top-color: rgb(58, 127, 255);
    border-bottom-color: rgb(58, 127, 255);
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition-property: width, border-left-width, border-right-width, border-top-width, border-bottom-width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.home-icon {
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    -unity-background-scale-mode: scale-to-fit;
    -unity-background-image-tint-color: rgb(58, 127, 255);
    background-image: url("project://database/Packages/com.anotherealitysrl.virtuademy-sdk-environments/Prefabs/SkyboxExperiences/Graphics/Arrow.png?fileID=2800000&guid=ae15ed0187d59aa42a5d7544288be705&type=3#Arrow");
    rotate: 0;
    translate: 5px 0;
}

.home-label {
    flex-shrink: 0;
    width: 0;
    margin-left: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(58, 127, 255);
    font-size: 28px;
    -unity-font-style: bold;
    -unity-text-align: middle-left;
    transition-property: width, margin-left, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.home-button:hover,
.home-button:active,
.home-button:focus {
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(58, 127, 255);
    border-right-color: rgb(58, 127, 255);
    border-top-color: rgb(58, 127, 255);
    border-bottom-color: rgb(58, 127, 255);
}

.home-button:hover {
    width: 400px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    border-bottom-width: 8px;
}

.home-button:hover .home-label {
    width: 250px;
    margin-left: 14px;
    opacity: 1;
}
